body {
        height: 100%;
        width: 100%;
        background-color: black;
        background-image: url("https://codehs.com/uploads/42b62d1b5dc24ca06401993938930f23");
        background-attachment: fixed;
        background-size: 100px;
        color: white;
        overflow-x: hidden;
    }
    div {
        background-color: rgb(255,0,0);
        opacity: 0.85;
        }
        
    .links {
        color: red;
        }
    .Centered-Text {
        text-align: center;
        color: black;
        font-size: 30px;
        font-family: 'Brush Script MT', cursive;
        }
    .reading_text {
        font-family: 'Brush Script MT', cursive;
        color: black;
        padding-left: 2%;
        padding-top: 1.5%;
        padding-right: 1%;
        }

        #header-div {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: -10px;
            margin-right: 20;
        }
        #bottom-div {
                margin-left: -10px;
                margin-top: 45%;
                padding-bottom: 60%;
                min-height: 0px;
            }
        #cool-text {
            background-color:black;
            opacity: 1;
            margin-right:27px;
            margin-left:15px;
        }
